body{
    
    margin: 0;
    padding: 0;
}
.section-ab{
    
  
    
      margin-top: 100px;
}
.icon-1{
    
     margin-left: 60px;
}

.icon-2{
    
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 10px;
}
.comput{
    background-color: #d8d3d3;
    border:1px solid #7c7777;
    margin-bottom: 2px;
}
.section-b{
    
    background-color: #06b5f6; 
    margin:0px 0px 10px 0px;
}
.row-ab{
    
    border-top:1px solid white;
    border-bottom:1px solid white;
   
}

.save{
    
     background-color: #428bca;
   text-align: center;
     
         border:0px solid #428bca;
border-top-right-radius:4px;
border-top-left-radius:4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
 
  margin-left: 5px;
    margin-top: 5px;

}
.save a{
    

 text-decoration: none;
    color: white;
}

.table-bordered{
    background-color: #f0f0f0;
    
}


.add-Service{
    
     background-color: #428bca;
   text-align: center;
     
         border:0px solid #428bca;
border-top-right-radius:4px;
border-top-left-radius:4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
 
  margin-bottom: 2px;
    margin-top: 5px;

}


.add-Service a{
    

 text-decoration: none;
    color: white;
}
